
.ipynb_checkpoints/q12-a-checkpoint.ipynb
__logit.iter
__nested_existing.iter
__nested_public.iter
logit.html
logit.pickle
nested_existing.html
nested_existing.pickle
nested_public.html
nested_public.pickle
